<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=DESKTOP-94086JL;Initial Catalog=vdscontact;Integrated Security=True;" />
    <add name="vdscontact.Properties.Settings.vdscontactConnectionString" connectionString="Data Source=DESKTOP-94086JL;Initial Catalog=vdscontact;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>